<button class="btn btn-secondary mb-3" (click)="goBack()">← Go Back</button>

<h3 class="mb-4">Invoices</h3>
<table class="table table-striped table-hover shadow-sm">
  <thead class="table-dark">
    <tr>
      <th>Invoice #</th>
      <th>Client</th>
      <th>Course</th>
      <th>Trainer</th>
      <th>Start Date</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoices">
      <td>{{ invoice.invoiceNumber }}</td>
      <td>{{ invoice.clientDetails?.name }}</td>
      <td>{{ invoice.courseDetails?.courseName }}</td>
      <td>{{ invoice.trainerDetails?.name }}</td>
      <td>{{ invoice.courseDetails?.startDate | date }}</td>
      <td>₹{{ invoice.taxSummary?.totalWithTax }}</td>
      <td>
        <button class="btn btn-sm btn-custom" (click)="downloadInvoice(invoice.invoiceNumber)">
          Download PDF
        </button>
      </td>
    </tr>
  </tbody>
</table>
